/*---------------------main styles----------------------------------------*/

body, html
{
	width:100%;
	height: 100%;
}
body
{
	background: url(images/black_paper.png) 0 0 repeat;
	
}

.fullWrapper
{
	width:1005px;
	margin:0px auto;
}
.fullWrapperPad
{
	padding:0px 10px;
	width:985px;
	margin:0px auto;
	overflow:hidden;
}

#page
{
	min-width:1005px;
	min-height:100%;
	position:relative;
	color:#C3C1C1;
}
#header
{
	width:100%;
	padding-bottom:50px;
}
#content
{
	width:100%;	
	padding:0px 0px 100px 0px;	
	
}
#footer
{
	position:absolute;
	bottom:0px;
	height:60px;
	width:100%;
	background:url(images/footer_bg.png);
	border-top: 1px groove #888;
}
/*--------------------------------------------------------------------------*/


/* ----------------------------- columns----------------------------------- */
.column
{
	float:left;
	padding:10px 15px;
}

.s1
{
	width:70px;
}
.s2
{
	width:170px;
}
.s3
{
	width:260px;
}
.s4
{
	width:370px;
}
.s5
{
	width:470px;
}
.s6
{
	width:570px;
}
.s7
{
	width:660px;
}
.s8
{
	width:770px;
}
.s9
{
	width:870px;
}
/* ----------------------------------------------------------------------- */
.leftBorder
{
	border-left:solid 1px #606060;
}
#header
{

	
}


#header .logo
{
	width:100%;
	border-bottom:1px groove #888;
	padding:5px 0px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#header .logo img
{
	height:50px;
	display:block;
	padding:0px 0px 10px 25px;
}
#header .logo h1
{
	
	font-size:48px;
	color:#C3C1C1;
}
#header .logo h3 
{
	font-size:14px;
	color:#b04326;
	line-height:16px;
	font-weight: lighter;
	padding-left:10px;
}

.topMenu
{
	height:90px;
	position:relative;
	margin-top:-10px;
}
.topMenu li
{
	float:left;
	height:80px;
	width:144px;
	margin-right:2px;
	text-align:center;
	background: url(images/bg-nav.jpg) 0 0 repeat-x;
	border-right: solid 1px #686868 ;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
}

.topMenu li a
{
	color:#C3C1C1;
	text-decoration: none;
	display:block;
	font-size:14px;
	margin:auto;
	line-height:20px;
	padding:20px 5px;
}	


	
.topMenu li:HOVER
{
	background: url(images/bg-li-hov.jpg) 0 0 repeat-x #b04326;
}

.topMenu li .singleItem
{
	padding:30px 5px !important;
}
.topMenu li.last
{
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
	margin-right:0px !important;
	position:absolute;
	right:0;
	width:132px !important;
}
.topMenu li.first
{
	border-top-left-radius:5px !important;
	border-bottom-left-radius:5px !important;
	width:134px !important;
}

/* ------------------------------- style for right boxes------------------------*/

.infoBox
{
	width:258px;
	border: 1px groove #888;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow:         1px 1px 3px 0px rgba(0, 0, 0, 1);
}
.infoBox .item
{
	padding:15px;
	overflow:hidden;
	border-bottom:1px solid #404040;
	
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	
}

.infoBox .item .logo
{
	height:60px;
	width:60px;
	float:left;
	/*background:url(images/news_bg.png);*/
	padding:3px;
}
.infoBox .item .logo img
{
	width:60px;
	height:60px;
}

.infoBox .item .meta
{
	float:left;
	font-size:14px;
	width:152px;
	padding-left: 10px;
		
}
.infoBox .item .meta p
{
	color:#C3C1C1;
	font-weight:bold;
	font-size:13px;
	line-height:16px;
}
.infoBox .item .meta a
{
	margin-top:20px;
	text-decoration:none;
	display: block;
	text-align: right;
	color: #D65B21;
}

.infoBox .item .date
{
	padding:15px 5px 0px 5px;
	clear:both;
}
.infoBox .item .date img
{
	width:16px;
	height:16px;
	dispaly:block;
	float:left;
}
.infoBox .item .date span
{
	color:grey;
	padding:5px;
	font-size:14px;
}

/* ----------------------------------------------------------------------- */
.borderBottomGrey
{
	border-bottom:1px groove #888;
}
/*------------------------------------headers--------------------------------------*/
.headerSilver
{
	color: #C3C1C1;
	font-weight: lighter;
	font-style: italic;
	font-size:18px;	
	padding:10px 0px;
}
.headerOrange2
{
	color: #D65B21;
	font-weight: lighter;
	font-style: italic;
	font-size:18px;	
	padding:10px 0px;
}
.headerOrangeBold
{
	color: #D65B21;
	font-weight: bold;
	font-size:18px;	
	padding:10px 0px;
}
.headerOrangeTab
{
	color: #D65B21;
	font-weight: bold;
	font-size:16px;	
	padding:20px 0px 10px 0px;
}

.headerOrange
{
	display:block;
	text-align: center;
	color:#C3C1C1;
	padding:15px 0px;
	font-size:18px;
	background: url(images/bg-li-hov.jpg) 0 0 repeat-x #b04326;
}

.headerContent
{
	display:block;
	text-align: left;
	color: #D65B21;
	padding-bottom:20px;
	font-size:18px;
}
.headerContent span
{
	color:#C3C1C1;
	font-weight:lighter;
	font-style: italic;
}

.boxWrapper
{
	width:100%;
	height:auto;
	overflow:hidden;
	
}
.boxWrapper .metaBox
{
	width:300px;
	height:300px;
	margin-right: 20px;
	margin-bottom:20px;
	float:left;
	position:relative;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow:         1px 1px 3px 0px rgba(0, 0, 0, 1);
	border: 1px groove #888;
}
.boxWrapper .metaBox img
{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	
}
.boxWrapper .metaBox .top
{
	width:100%;
	height:57px;
	background: url(images/news_bg.png);
	position:absolute;
	top:0;
	}
.boxWrapper .metaBox .top h2
{
	font-size: 18px;
	color: #D65B21;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	height:57px;
	width:300px;
	
	
}
.boxWrapper .metaBox .bottom
{
	width:100%;
	height:90px;
	background: url(images/news_bg.png);
	position:absolute;
	bottom:0;
}
.boxWrapper .metaBox .bottom h6
{
	color:#C3C1C1;
	font-weight:lighter;
	font-size:14px;
	padding:10px;
	line-height:18px;;
}

/* ------------------------------------- styles for slideList------------------- */

.slideList
{
	padding:0px 20px 40px 20px;
}
.slideList .listToggle
{
	margin-top:3px;
	border-radius:5px;
	background: url(images/bg-nav.jpg) 0 0 repeat-x;
	border: 1px groove #888;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	color: #C3C1C1;
}

.slideList .listToggle h4
{
	text-align: center;
	font-size:16px;
	font-weight: lighter;
	width:540px;
	padding:18px 0px;
}
.slideList .listToggle:HOVER
 {
	 background: url(images/bg-li-hov.jpg) 0 0 repeat-x #b04326;
	 color: #C3C1C1;
	 cursor:pointer;
	
}
.slideList .listToggle img
{
	height:46px;
	width:46px;
	float:right;
	display:block;
	margin:5px 15px 0px 0px;
}
.slideList .more
{
	padding:20px;
	width:577px;
	background: url(images/footer_bg.png);
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	border-left: 1px groove #888;
	border-right: 1px groove #888;
	display:none;
}
.slideList .more p
{
	background: url(images/dot.png);
	background-position: top-left;
	background-repeat: no-repeat;
	padding:0px 10px 10px 25px;
	font-size:15px;
	
}
.slideList .more .hide
{
	text-align:right;
	padding:10px;
	color: #D65B21;
}
.slideList .more .hide span:HOVER {
	cursor:pointer;
}
.slideList .last
{
	border-bottom: 1px groove #888;
}

.listBox
{
	padding:20px;
	border-top: 1px groove #888;
}
.listBox p
{
	font-size:16px;
	color:#C3C1C1;
	padding:7px 10px;
	line-height:20px;
}
.listBox p span
{
	color:#D65B21;
	margin-right:4px;
}

.plainMeta
{
	padding:0px 20px 20px 20px;
	margin-bottom:10px;
}

.plainMeta p
{
	font-size:16px;
	color:#C3C1C1;
	padding:7px 10px 10px 0px;;
	line-height:20px;
}
.plainMeta span
{
	color:#D65B21;
	font-style: italic;
	display:block;
	text-align:right;
}
.plainMeta span:HOVER {
	cursor:pointer;
}
.plainMeta .map
{
	width:100%;
	background: url(images/footer_bg.png);
	padding:15px 0px;
}
.plainMeta .map img
{
	width:500px;
	height:300px;
	margin:0px auto;
	display:block;
}
.plainMeta h3
{
	padding:7px 25px;
	color: #C3C1C1;
	font-size:18px;
	line-height:24px;
}
.plainMeta h3 a
{
	font-weight:lighter;
	text-decoration:none;
	color: #D65B21;
	font-style: italic;
}
#plainBoxTarget
{
	display:none;
}
#plainBoxTarget h2
{
	font-size:15px;
	font-weight:bold;
	font-style: italic;
	padding:20px 5px 10px 5px;
	
}
#plainBoxTarget a
{
	color:#D65B21;
	display:block;
	padding:5px 15px;
	font-size: 14px;
	text-decoration:none;
}
#plainBoxTarget h6
{
	padding:5px 5px 5px 20px;
	font-size:15px;
}

/* ---------------------------styles for tabs -------------------------*/
.tabWrapper
{
	padding:25px 15px;
	overflow:hidden;
}
.tabWrapper ul
{
	display:block;
	width:615px;
	border-bottom:1px groove #888;
	height:27px;
	padding-left:25px;
}
.tabWrapper li
{ 
	color:white;
	width:200px;
	display:inline;
	font-size: 14px;
	padding:10px;
	border-left:1px groove #888;
	border-right:1px groove #888;
	border-top:1px groove #888;
	background:#888;	
}
.tabWrapper li:HOVER
{
	cursor:pointer;
}
.tabWrapper li.active
{
	background: url(images/bg-li-hov.jpg) 0 0 repeat-x;
	
}
.tabWrapper .plainMeta p
 {
	background: url(images/dot.png);
	background-position: top-left;
	background-repeat: no-repeat;
	padding: 0px 10px 10px 25px;
	font-size: 15px;
}
.tabWrapper .plainMeta span
{
	padding: 0px 10px 10px 25px;
	font-size: 15px;
	text-align: left;
	color: #C3C1C1;	
}
.tabWrapper .plainMeta span:HOVER
{
	cursor:auto;
}
#tab1
{
	
	border-bottom:1px groove #888;	
}
#tab2
{
	border-bottom:1px groove #888;	
	display:none;	
}
/*--------------------------------------------------------------------- */

/*------------------------------- styles for contactForm--------------------------*/
.contactForm
{
	padding:20px;
	margin:25px auto;
	opacity:0.6;

	
	overflow:hidden;
}

.contactForm input
{
	width:300px;
	display:block;
	text-align:center;
	margin:8px auto;
	padding:7px 0px;
	font-size:12px;
	background:url(images/form_bg.png);
	border-radius:10px;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
	border:none;
	color:white;
}
.contactForm input:FOCUS
{
	outline: none;
}
.contactForm textarea
{
	display:block;
	margin:15px auto;
	padding:10px;
	font-size:14px;
	font-family:arial;
	background:url(images/form_bg.png);
	border-radius:10px;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
	border:none;
	color:white;
}
.contactForm textarea:FOCUS
{
	outline: none;
}
.contactForm input.submit
{
		margin-top:25px;
	background:rgb(250, 116, 63);
	border:none;
	border-radius:5px;
	color:white;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
	
}
.contactForm input.submit:HOVER
{
	cursor:pointer;
}
.contactForm .checkBox
{
	width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  display: block;
  clear: left;
  float: left;
  margin-left:100px;
}
.contactForm span
{
	display:block;
	float:left;
	width:300px;
	padding:5px;
	margin-top: 8px;
}
.contactForm .clear
{
	clear:both;
	padding-bottom:15px;
}

ul.dottedList
{
	list-style-image:url(images/dot.png);
	margin-left:30px;
	line-height:30px;
}


