/*---------------------main styles----------------------------------------*/

body, html
{
	width:100%;
	height: 100%;
}
body
{
	 background-image: url(images/background_image.jpg);
	 background-repeat: no-repeat;
	 background-size:100% 100%;
	 background-attachment: fixed;
    	  	
}

.fullWrapper
{
	width:1005px;
	margin:0px auto;
}
.fullWrapperPad
{
	padding:0px 10px;
	width:985px;
	margin:0px auto;
	overflow:hidden;
}

#page
{
	min-width:1005px;
	min-height:100%;
	position:relative;
	color: #464646;
	background:url(images/page_bg.png);
}
#header
{
	width:100%;
	padding-bottom:50px;
}
#content
{
	width:100%;	
	padding:0px 0px 100px 0px;	
	
}
#footer
{
	position:absolute;
	bottom:0px;
	height:60px;
	width:100%;
	background: url(images/bg-nav.jpg) 0 0 repeat-x;
	border-top: 1px solid #D1D1D1;
}
#cookies
{
	width:900px;
	height:30px;
	margin:0px auto;
	background: url(images/news_bg.png);
	border-radius:4px;
	padding:30px;
	top:0px;
	position: relative;
}
#cookies img
{
	width:30px;
	height:30px;
	position:absolute;
	right: 10px;
	top:10px;
	background: white;
}
#cookies img:HOVER
{
	cursor: pointer;
}
/*--------------------------------------------------------------------------*/


/* ----------------------------- columns----------------------------------- */
.column
{
	float:left;
	padding:10px 15px;
}

.s1
{
	width:70px;
}
.s2
{
	width:170px;
}
.s3
{
	width:260px;
}
.s4
{
	width:370px;
}
.s5
{
	width:470px;
}
.s6
{
	width:570px;
}
.s7
{
	width:660px;
}
.s8
{
	width:770px;
}
.s9
{
	width:870px;
}
/* ----------------------------------------------------------------------- */
.leftBorder
{
	border-left:solid 1px #606060;
}
#header
{

	
}


#header .logo
{
	width:100%;
	border-bottom:1px solid #D1D1D1;
	padding:5px 0px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#header .logo img
{
	height:50px;
	display:block;
	padding:0px 0px 10px 25px;
}
#header .logo h1
{
	
	font-size:48px;
	color:#464646;
}
#header .logo h3 
{
	font-size:14px;
	color:#b04326;
	line-height:16px;
	font-weight: lighter;
	padding-left:10px;
}

.topMenu
{
	height:90px;
	position:relative;
	margin-top:5px;
}
.topMenu li
{
	float:left;
	height:60px;
	width:144px;
	margin-right:2px;
	text-align:center;
	background: url(images/bg-nav.jpg) 0 0 repeat-x;
	border-right: solid 1px #686868 ;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
}

.topMenu li a
{
	color:#CFC9C9;
	text-decoration: none;
	display:block;
	font-size:12px;
	margin:auto;
	line-height:17px;
	padding:12px 5px;
}	


	
.topMenu li:HOVER
{
	background: #AC5896;
}

.topMenu li .singleItem
{
	padding:20px 5px !important;
}
.topMenu li.last
{
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
	margin-right:0px !important;
	position:absolute;
	right:0;
	width:132px !important;
}
.topMenu li.first
{
	border-top-left-radius:5px !important;
	border-bottom-left-radius:5px !important;
	width:134px !important;
}

/* ------------------------------- style for right boxes------------------------*/

.infoBox
{
	width:258px;
	border: 1px solid #D1D1D1;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow:         1px 1px 3px 0px rgba(0, 0, 0, 1);
	background:white;
}
.infoBox .item
{
	padding:15px;
	overflow:hidden;
	border-bottom:1px solid #404040;
	
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	
}

.infoBox .item .logo
{
	height:60px;
	width:60px;
	float:left;
	/*background:url(images/news_bg.png);*/
	padding:3px;
}
.infoBox .item .logo img
{
	width:60px;
	height:60px;
}

.infoBox .item .meta
{
	float:left;
	font-size:14px;
	width:152px;
	padding-left: 10px;
		
}
.infoBox .item .meta p
{
	color:#464646;
	font-weight:lighter;
	font-size:13px;
	line-height:18px;
}
.infoBox .item .meta a
{
	margin-top:20px;
	text-decoration:none;
	display: block;
	text-align: right;
	color: #AC1785;
}

.infoBox .item .date
{
	padding:15px 5px 0px 5px;
	clear:both;
}
.infoBox .item .date img
{
	width:16px;
	height:16px;
	dispaly:block;
	float:left;
}
.infoBox .item .date span
{
	color:white;
	padding:5px;
	font-size:14px;
}

/* ----------------------------------------------------------------------- */
.borderBottomGrey
{
	border-bottom:1px solid #D1D1D1;
}
/*------------------------------------headers--------------------------------------*/
.headerSilver
{
	color: #464646;
	font-weight: lighter;
	font-style: italic;
	font-size:18px;	
	padding:10px 0px;
}
.mainHeader
{
	color: #AC5896;
	font-weight: lighter;
	font-size:18px;	
	padding:10px 0px;
}
.headerOrangeBold
{
	color: #D65B21;
	font-weight: bold;
	font-size:18px;	
	padding:10px 0px;
}
.headerTab
{
	color: #AC5896;
	font-weight: bold;
	font-size:16px;	
	padding:20px 0px 10px 0px;
	font-weight: lighter;
}

.headerNews
{
	display:block;
	text-align: center;
	color: #AC5896;
	padding:15px 0px;
	font-size:18px;
    background: url(images/bg-nav.jpg) 0 0 repeat-x;
    font-weight:lighter;
    margin-bottom:30px;
    border-radius:3px;
}

.headerContent
{
	display:block;
	text-align: left;
    color: #464646;
	padding-bottom:20px;
	font-size:18px;
	font-weight: lighter;
}
.headerContent span
{
	color:#464646;
	font-weight:lighter;
	font-style: italic;
}

.boxWrapper
{
	width:100%;
	height:auto;
	overflow:hidden;
	
}
.boxWrapper .metaBox
{
	width:300px;
	height:298px;
	margin-right: 20px;
	margin-bottom:20px;
	float:left;
	position:relative;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow:         1px 1px 3px 0px rgba(0, 0, 0, 1);
	border: 1px solid #D1D1D1;
}
.boxWrapper .metaBox img
{
	width:100%;
	height:70%;
	position:absolute;
	top:10%;
	margin:auto;
	
}
.boxWrapper .metaBox .top
{
	width:100%;
	height:57px;
	background: url(images/bg-nav.jpg) 0 0 repeat-x;
	position:absolute;
	top:0;
	}
.boxWrapper .metaBox .top h2
{
	font-size: 16px;
	line-height:21px;
	font-weight:lighter;
	color: #AC5896;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	height:57px;
	width:300px;
	
	
}
.boxWrapper .metaBox .bottom
{
	width:100%;
	height:88px;
	background: url(images/bg-nav.jpg) 0 0 repeat-x;
	position:absolute;
	bottom:0px;
	overflow:hidden;
}
.boxWrapper .metaBox .bottom h6
{
	color:#CFC9C9;
	font-weight:lighter;
	font-size:16px;
	padding:2px 10px;
	line-height:21px;
	display:table-cell;
	vertical-align: middle;
	height:82px;
}
.boxWrapper .metaBox .bottom h6 span
{
	font-size:12px;
	font-style: italic;
	display:block;
	float:right;
	margin-right:20px;
}

/* ------------------------------------- styles for slideList------------------- */

.slideList
{
	padding:0px 20px 40px 20px;
}
.slideList .listToggle
{
	margin-top:3px;
	border-radius:5px;
	background: url(images/bg-nav.jpg) 0 0 repeat-x;
	border: 1px solid #D1D1D1;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	color: #CFC9C9;
}

.slideList .listToggle h4
{
	text-align: left;
	font-size:16px;
	font-weight: lighter;
	width:540px;
	padding:18px 15px;
}
.slideList .listToggle:HOVER
 {
	 background: #AC5896;
	 cursor:pointer;
	
}
.slideList .listToggle img
{
	height:46px;
	width:46px;
	float:right;
	display:block;
	margin:5px 15px 0px 0px;
}
.slideList .more
{
	padding:20px;
	width:577px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	display:none;
	background: url(images/plainMeta_bg.png);
}
.slideList .more p
{
	background: url(images/dot.png);
	background-position: top-left;
	background-repeat: no-repeat;
	padding:0px 10px 10px 25px;
	font-size:16px;
	line-height: 21px;
	
}
.slideList .more .hide
{
	text-align:right;
	padding:10px;
	color: #AC1785;
}
.slideList .more .hide span:HOVER {
	cursor:pointer;
}
.slideList .last
{
	border-bottom: 1px solid #D1D1D1;
}

.listBox
{
	padding:20px;
	border-top: 1px solid #D1D1D1;
}
.listBox p
{
	font-size:16px;
	color:#464646;
	padding:7px 10px;
	line-height:20px;
}
.listBox p span
{
	color:#D65B21;
	margin-right:4px;
}

.plainMeta
{
	padding:0px 20px 20px 20px;
	margin-bottom:10px;
	background:url(images/plainMeta_bg.png);
	border-radius:5px;
}

.plainMeta p
{
	font-size:16px;
	color:#464646;
	padding:7px 10px 10px 0px;;
	line-height:21px;
}
.plainMeta span
{
	color: #AC5896;
	display:block;
	text-align:right;
}
.plainMeta span:HOVER {
	cursor:pointer;
}
.plainMeta .map
{
	width:100%;
	padding:15px 0px;
}
.plainMeta .map img
{
	width:600px;
	height:350px;
	margin:0px auto;
	display:block;
}
.plainMeta h3
{
	padding:3px 25px;
	color: #464646;
	font-size:16px;
	line-height:24px;
	font-weight: lighter;
}
.plainMeta h3 a
{
	font-weight:lighter;
	text-decoration:none;
	color: #AC5896;
	font-style: italic;
}
#plainBoxTarget
{
	display:none;
}
#plainBoxTarget h2
{
	font-size:15px;
	font-weight:lighter;
	padding:20px 5px 10px 5px;
	
}
#plainBoxTarget a
{
	color: #AC5896;
	display:block;
	padding:5px 15px;
	font-size: 14px;
	text-decoration:none;
}
#plainBoxTarget h6
{
	padding:5px 5px 5px 20px;
	font-size:15px;
	font-weight:lighter;
}

/* ---------------------------styles for tabs -------------------------*/
.tabWrapper
{
	padding:25px 15px;
	overflow:hidden;
	background: url(images/plainMeta_bg.png);
	border-radius:5px;
}
.tabWrapper ul
{
	display:block;
	width:600px;
	border-bottom:1px solid #D1D1D1;
	height:27px;
	padding-left:25px;
}
.tabWrapper li
{ 
	color:white;
	width:200px;
	display:inline;
	font-size: 14px;
	padding:10px;
	border-left:1px solid #D1D1D1;
	border-right:1px solid #D1D1D1;
	border-top:1px solid #D1D1D1;
	background:#888;	
}
.tabWrapper li:HOVER
{
	cursor:pointer;
}
.tabWrapper li.active
{
	background: #AC5896;
	
}
.tabWrapper .plainMeta p
 {
	background: url(images/dot.png);
	background-position: top-left;
	background-repeat: no-repeat;
	padding: 0px 10px 10px 25px;
	font-size: 16px;
	line-height:21px;
}
.tabWrapper .plainMeta span
{
	padding: 0px 10px 10px 25px;
	font-size: 16px;
	line-height:21px;
	text-align: left;
	color: #464646;	
}
.tabWrapper .plainMeta span:HOVER
{
	cursor:auto;
}
#tab1
{
	
	border-bottom:1px solid #D1D1D1;	
}
#tab2
{
	border-bottom:1px solid #D1D1D1;	
	display:none;	
}
/*--------------------------------------------------------------------- */

/*------------------------------- styles for contactForm--------------------------*/
.contactForm
{
	padding:20px;
	margin:25px auto;
	overflow:hidden;
}

.contactForm input
{
	width:300px;
	display:block;
	text-align:center;
	margin:8px auto;
	padding:7px 0px;
	font-size:12px;
	background: #575757;
	border-radius:10px;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
	border:none;
	color:white;
}
.contactForm input:FOCUS
{
	outline: none;
}
.contactForm textarea
{
	display:block;
	margin:15px auto;
	padding:10px;
	font-size:14px;
	font-family:arial;
	background: #575757;
	border-radius:10px;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
	border:none;
	color:white;
}
.contactForm textarea:FOCUS
{
	outline: none;
}
.contactForm input.submit
{
		margin-top:25px;
	background:#AC5896;
	border:none;
	border-radius:5px;
	color:white;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 1);
	
}
.contactForm input.submit:HOVER
{
	cursor:pointer;
}
.contactForm .checkBox
{
	width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  display: block;
  clear: left;
  float: left;
  margin-left:100px;
}
.contactForm span
{
	display:block;
	float:left;
	width:300px;
	padding:5px;
	margin-top: 8px;
}
.contactForm .clear
{
	clear:both;
	padding-bottom:15px;
}

ul.dottedList
{
	list-style-image:url(images/dot.png);
	margin-left:30px;
	line-height:30px;
}

/* --------------------------------------- styles for files download----------------------------- */
.fileCategory
{
	margin-top:25px;
	border: 1px solid #D1D1D1;
	padding: 25px;
	overflow: hidden;
}
.fileCategory h1
{
	font-size: 16px;
color: #464646;
padding: 7px 10px 10px 0px;
line-height: 21px;
}
.fileCategory .fileItem
{
	border:1px solid rgb(238, 200, 248);
	border-radius:5px;
	width:250px;
	height:92px;
	padding:5px;
	overflow:hidden;
	float: left;
	margin:0px 15px 15px 0px;
	position: relative;
}
.fileCategory .fileItem img
{
	width:60px;
	height:60px;
	padding:5px;
	float:left;
	display: block;
	
}
.fileCategory .fileItem h1
{
	font-size: 13px;
	color:grey;
	padding:0px 5px 5px 0px;
}
.fileCategory .fileItem p
{
	font-size:10px;
	padding:0px;
	line-height:14px;
}
.fileCategory .fileItem h2
{
	line-height:14px;
	font-size:10px;
	color:grey;
	position: absolute;
	left:5px;
	bottom:5px;
	
	
}
.fileCategory .fileItem input
{
	position:absolute;
	bottom:5px;
	right:5px;
	display: block;
	width:70px;
	background: #AC5896;
	border: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-size:12px;
}
/* ------------------------------- styles for gallery---------------------------------- */
.galleryCategory
{
	margin-top:25px;
	border: 1px solid #D1D1D1;
	padding: 25px;
	overflow: hidden;
}
.galleryCategory h1
{
	font-size: 16px;
color: #464646;
padding: 7px 10px 10px 0px;
line-height: 21px;
}
.galleryCategory .galleryImages
{
	width:570px;
	padding: 10px 0px;
	overflow: hidden;
}
.galleryCategory .galleryImages li img
{
	width:90px;
	height:90px;
	margin:8px 5px;
	background: rgb(223, 218, 218);
	float: left;
}
.galleryCategory .galleryImages li img:HOVER {
	cursor: pointer;
}