{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie stronami{% endblock %}
{% block description %}edycja strony{% endblock %}

{% block active_name %}cms_pages{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    <a class="small button" href="{{ path('cms_pages') }}">
        Powrót do listy stron
    </a>
    {{ form(delete_form) }}

{% endblock %}
