.login-ext {
    text-align: center;
}

.login-int {
    margin: auto;
    text-align: left;
    width: 200px;
    display: block;
}

.records_list th:last-child {
    min-width: 170px;
}

.sidebar {
    background: none repeat scroll 0 center rgb(245, 245, 245);
    margin: 0 10px;
    border: 1px solid #DDDDDD;
}

.sidebar li {
    padding-left: 20px;
}
.sidebar li.divider {
    padding: 0 !important;
}


.sidebar li.active {
    /* background for sidebar maybe? */
}

.sidebar  li.active a:first-child {
}

.header-intro {
    background: url("../images/background.png") no-repeat scroll 0 0 / 100% 95% rgba(0, 0, 0, 0);
    padding: 10px 20px;
}

.header-intro h1 {
    padding-left: 1em;
}

.header-intro h4 {
    padding-left: 6em;
}

th .button {
    margin: 0;
}
