{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}edycja artykułu{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    <a class="button small" href="{{ path('cms_articles') }}">
        Powrót do listy artykułów
    </a>
    {{ form(delete_form) }}

{% endblock %}
