{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}edycja artykułu{% endblock %}

{% block body -%}

    {{ form(edit_form) }}
	
    <a class="button small" href="{{ path('cms_articles') }}">
        Powrót do listy artykułów
    </a>
    {{ form(delete_form) }}

{% endblock %}

{% block javascripts -%}

<script type="text/javascript">

    $('.fdatetimepicker').fdatetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'de'
	});
    CKEDITOR.replace( '{{ edit_form.content.vars.id }}' );

</script>

{% endblock %}