{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Zarządzanie artykułami{% endblock %}
{% block description %}tworzenie nowego artykułu{% endblock %}

{% block body -%}

    {{ form(form) }}

    <a class="button small" href="{{ path('cms_articles') }}">
        Powrót do listy artykułów
    </a>

{% endblock %}

{% block javascripts -%}

<script type="text/javascript">
    CKEDITOR.replace( '{{ form.content.vars.id }}' );
</script>
{% endblock %}